<header class="d-flex">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">

                <img src="/images/bublboardlogo.png" alt="logo" id="logo" width="160px" height="40px" />

            </a>

        </div>
    </nav>
</header>