<!DOCTYPE html>
<html lang="en">

<%- include('./partials/headTag.ejs') %>


    <body>
        <%- include('./partials/header.ejs') %>
            <main class="container">


                <div id="board" class="mt-5 col-md-11">
                    <div id="question" class="slowfade-in"><img id="buble" src="/images/buble.png" alt=""> What is the
                        value of
                        pi?</img></div>


                </div>

                <button class="btn btn-primary">invite link: thisisthelinktothisboard</button>

            </main>
            <%- include('./partials/scripts.ejs') %>
    </body>

</html>