<!DOCTYPE html>
<html lang="en">

<%- include('./partials/headTag.ejs') %>


    <body>
        <%- include('./partials/header.ejs') %>
            <ul>
                <li>
                    <h1 class="greeting" contenteditable="true">Insert Title Here</h1>
                </li>
            </ul>
            <button>Pop Mode</button>
            <div id="board">
                <div id="question" class="slowfade-in"><img id="buble" src="buble.png" alt=""> What is the value of
                    pi?</img></div>

                <script src="board.js"></script>
            </div>
    </body>

</html>