<!DOCTYPE html>
<html lang="en">

<%- include('./partials/headTag.ejs') %>


    <body>
        <%- include('./partials/header.ejs') %>

            <main class="container">


                <div id="board" class="mt-5 col-md-11">
                    <div id="question" class="slowfade-in d-flex flex-column justify-content-center align-items-center">
                        <div class="question-text">
                            What is the
                            value of
                            pi? hhkjhlkgfldl ghfkhj jhgkjhg jlhgkjh kjhg kjhg kjhgk
                        </div>
                        <button class="btn btn-primary mb-2">like</button>
                    </div>
                </div>

                <div class="w-100 d-flex justify-content-center mt-4">

                    <button class="btn btn-primary">invite link: thisisthelinktothisboard</button>

                </div>

            </main>
            <%- include('./partials/scripts.ejs') %>
    </body>

</html>