<!DOCTYPE html>
<html lang="en">

<%- include('./partials/headTag.ejs') %>


    <body>
        <%- include('./partials/header.ejs') %>
            <main class="container">


                <div id="board" class="mt-5 col-md-11">
                    <div id="question" class="slowfade-in">
                        <div class="question-text">
                            What is the
                            value of
                            pi? hhkjhlkgfldl ghfkhj jhgkjhg jlhgkjh kjhg kjhg kjhgk
                        </div>
                    </div>


                </div>

                <button class="btn btn-primary">invite link: thisisthelinktothisboard</button>

            </main>
            <%- include('./partials/scripts.ejs') %>
    </body>

</html>