<!DOCTYPE html>
<html lang="en">

<%- include('./partials/headTag.ejs') %>

  <body>

    <%- include('./partials/header.ejs') %>

      <h1>Welcome!</h1>
      <form action="/board/new" method="GET">
        <input type="text" name="name" placeholder="your name">
        <button>create new board</button>
      </form>


  </body>

</html>